<div id="ngx-markdown-wiki-wrapper">
  
  <header class="header">
    <div class="title">
      <a [routerLink]="['/']" [fragment]="'/' + defaultPath">{{ title }}</a>
    </div>
    
    <div class="hamburger">
      <button type="button" (click)="toggleNav()">
        <i></i>
      </button>
    </div>
  </header>
  
  <nav class="nav" (click)="onClick($event)">
    <div class="nav-inner" [innerHTML]="nav"></div>
  </nav>
  
  <div class="nav-background">
    <button type="button" (click)="toggleNav(false)"></button>
  </div>
  
  <main class="main">
    <div class="contents" (click)="onClick($event)">
      <div class="contents-inner" [innerHTML]="contents"></div>
    </div>
    
    <footer class="footer">
      <div class="title">
        <a [routerLink]="['/']" [fragment]="'/' + defaultPath">{{ title }}</a>
      </div>
    </footer>
  </main>
</div>
