// Normalize
// ----------------------------------------------------------------------------------------------------

@import '../node_modules/@neos21/neos-normalize/neos-normalize.min.css';


// Global
// ----------------------------------------------------------------------------------------------------

html {
  overflow-x: hidden;
}

body {
  color: #212529;
}

a {
  color: #07ff;
  
  &:hover {
    color: #05b;
  }
}

em     { color: #296; }
strong { color: #f00; }


// Page
// ----------------------------------------------------------------------------------------------------

$white-darken : #ddd;
$white-lighten: #fff;

$header-height: 4rem;
$nav-width: 270px;

@mixin white-link() {
  color: $white-darken;
  
  &:hover {
    color: $white-lighten;
  }
}

#ngx-markdown-wiki-wrapper {
  display: grid;
  grid-template-rows: $header-height 1fr;
  grid-template-columns: $nav-width 1.25rem 1fr 1.25rem;
  grid-template-areas: "header . main ."
                       "nav    . main .";
  min-height: 100vh;
  
  .header {
    grid-area: header;
    width: 100%;
    height: $header-height;
    background: #102;
    z-index: 99999;  // 幅が狭い時の position: fixed 用
    
    .title {
      text-align: center;
      
      a {
        @include white-link();
        height: $header-height;
        font-weight: bold;
        text-decoration: none;
        line-height: $header-height;
      }
    }
    
    .hamburger {
      $hamburger-height: 2.5rem;
      
      display: none;  // 通常は隠しておく
      position: absolute;
      top: calc((#{$header-height} - #{$hamburger-height}) / 2);
      left: 1rem;
      
      button {
        position: relative;
        border: 1px solid $white-darken;
        border-radius: 4px;
        padding: 0 .5rem;
        height: 2.5rem;
        background: transparent;
        cursor: pointer;
        outline: none;
        
        i, i::before, i::after {
          content: "";
          display: block;
          position: relative;
          width: 2rem;
          height: 2px;
          background: $white-darken;
        }
        
        i::before { top: -10px; }
        i::after  { top:   8px; }
        
        &:hover, &:focus {
          border-color:$white-lighten;
          
          i, i::before, i::after {
            background: $white-lighten;
          }
        }
      }
    }
  }
  
  .nav {
    grid-area: nav;
    width: $nav-width;
    color: $white-darken;
    background: #213;
    z-index: 99999;  // 幅が狭い時の position: fixed 用
    
    .nav-inner {
      padding: 1rem 1.25rem 4rem;
      
      & > ul > li {
        margin-left: .75rem;
        color: $white-darken;
      }
      
      a {
        @include white-link();
      }
    }
  }
  
  .main {
    grid-area: main;
    padding: 1rem 0;
    z-index: 1;
    
    // & > .contents > .contents-inner
    
    .footer {
      .title {
        border-top: 1px solid #ccc;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
      }
    }
  }
}

// 768px 以下の場合
@media (max-width: 768px) {
  #ngx-markdown-wiki-wrapper {
    display: block;
    
    .header {
      position: fixed;
      top: 0;
      left: 0;
            
      .hamburger {
        display: block;
      }
    }
    
    .nav {
      position: fixed;
      top: $header-height;
      left: -$nav-width;
      height: calc(100vh - #{$header-height});
      transition: left .2s;
      
      .nav-inner {
        height: 100%;
        overflow-y: auto;
      }
    }
    
    .main {
      margin-top: $header-height;
      padding-right: 1.25rem;
      padding-left: 1.25rem;
      
      // id 属性を持つ要素はハッシュリンクで遷移時、ヘッダに隠れてしまうため
      [id] {
        margin-top: -$header-height;
        padding-top: $header-height;
      }
    }
  }
  
  // toggleNav() により body 要素に .show-nav が付与された時にナビゲーションを表示するようにする
  .show-nav #ngx-markdown-wiki-wrapper .nav {
    left: 0;
  }
}


// Custom Class
// ----------------------------------------------------------------------------------------------------

// 読込中
.loading {
  color: #999;
}

// 非表示にするモノ
.hidden {
  display: none;
}

// エラー部分
.error {
  color: #f00;
}
